<?php
return [
    'discord_token' => '',
    'discord_bot_id' => '468512593708056596',

    // Database config

    'db_enable' => true,
    'db_type' => 'mysql',
    'db_host' => '127.0.0.1',
    'db_name' => 'chatterbot',
    'db_user' => 'root',
    'db_password' => '',
    'db_charset' => 'utf8',
    'db_options' => [
        \PDO::ATTR_DEFAULT_FETCH_MODE => \PDO::FETCH_OBJ
    ]
];